/* .container-fluid {

  width:90%;
  margin:10px auto;
} */

.title {
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: bold;
  color: #114d76;
  margin: 20px auto;
  margin-top: 120px !important;
}

.contact {
  width: 70%;
  margin: 10px auto;
  background-color:#d7edfa;
  padding:15px;
  border-radius:10px;
}

.btn-custom {
  background-color: #010575;
  color: #fff;
  font-weight: 600;
  display: flex;
  margin:25px auto;
  margin-bottom:-25px !important;
  width: 25%;
  justify-content: center;
}

input, textarea {
  border: 2px solid #010575;
  font-family:'Montserrat';
}

/************ MEDIA QUERIES ************/
@media screen and (min-width:301px) and (max-width:600px){
  .contact{
    width:90% !important;
  }
}
