<div class="container-fluid">
  <div class="text-center title">Contacto</div>
  <form class="contact" action="">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre Completo" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="ejemplo@correo.com" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <input type="tel" class="form-control" placeholder="Teléfono" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="" id=""placeholder="Mensaje"></textarea>
      </div>

      <button type="submit" class="btn btn-custom">Enviar</button> <br><br>

  </form>

  <app-social-media></app-social-media>

</div>
