<div class="container-fluid">
  <div class="card centered-card">
    <div class="card-body">
      <h5 class="card-title text-center titulo">JUAN CARLOS SUÁREZ</h5>
      <h6 class="card-subtitle mb-2 text-center subtitulo">FULLSTACK DEVELOPER</h6>
      <p class="card-text">
        Poseo el título de Ingeniero Electrónico, a lo que he sumado continuamente diversos cursos de programación, comenzando por Visual Basic para Aplicaciones (VBA), y continuando con los lenguajes esenciales del Desarrollo Web Frontend, como lo son HTML5, CSS3 y JavaScript. <br> <br>
        Posteriormente he ido incorporando nuevas tecnologías a mi quehacer diario, entre las cuales destacan los frameworks y librerías más populares de Javascript, tales como React, Angular y VueJS, así como también lenguajes relativos al Backend, tales como Java y NodeJs. Además he tenido la oportunidad de trabajar con distintos tipos de bases de datos, entre las cuales figuran SQL Server, MySQL, MariaDB, MongoDb, entre otras. <br><br>
        Actualmente resido en Buenos Aires, Capital Federal, Argentina. Me considero una persona dinámica, trabajadora y con una gran disposición para aprender todo aquello que considere necesario y productivo, enfocado en cumplir los objetivos planteados, y en la medida de lo posible, superarlos. Adicionalmente, una de mis fortalezas es la enseñanza, la cual me permite no solamente transmitir mis conocimientos a los demás, sino que además me da la facilidad de crear grupos de trabajo, ejerciendo liderazgo. <br><br>
        En el presente dedico la mayor parte de mi tiempo libre a seguir estudiando y preparándome, con el fin de afrontar la era de cambios tecnológicos a la cual nos enfrentamos hoy en día. Paso a paso he ido acumulando conocimientos y experiencias, relativas tanto al Frontend como al Backend, adicionando algunos elementos relacionados con el Diseño Web.
      </p>
    </div>
  </div>

  <app-social-media></app-social-media>

</div>
