<!-- <div class="footer"> -->
<div class="row text-center" style="width:100%;">
  <ul class="redes">
    <!-- Github -->
    <li>
      <a style="color:#2e64d7 ;" href="https://rb.gy/z0nlyk" target="_blank" role="button">
        <i class="fab fa-linkedin-in fa-lg lg-font"></i>
      </a>
    </li>

    <!-- Github -->
    <li>
      <a style="color: #010c24;" href="https://www.github.com/juancsuarezl" target="_blank" role="button">
        <i class="fab fa-github fa-lg lg-font"></i>
      </a>
    </li>

    <!-- Google -->
    <li>
      <a style="color: #dd4b39;" href="mailto:juancsuarezl@gmail.com" role="button">
        <i class="fab fa-google fa-lg lg-font"></i>
      </a>
    </li>

    <!-- Whatsapp -->
    <li>
      <a style="color: #2bac63;" href="http://api.whatsapp.com/send?phone=541158966771" target="_blank" role="button">
        <i class="fab fa-whatsapp fa-lg lg-font"></i>
      </a>
    </li>


  </ul>


    <!-- <ul class="redes" *ngFor="let red of redes">
      <a href="{{ red.href }}"><li><i class="{{ red.class}}"></i></li></a> -->
      <!-- <li><a class="button" style="font-size: 30px;" href="https://www.instagram.com" target="_blank">
          <i class="fa-brands fa-instagram"></i>
          </a>
      </li>
      <li><a class="button" style="font-size: 30px;" href="https://www.youtube.com" target="_blank">
          <i class="fa-brands fa-youtube"></i>
          </a>
      </li>
      <li><a class="button" style="font-size: 30px;" href="https://www.linkedin.com" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
          </a>
      </li>
      <li><a class="button" style="font-size: 30px;" href="https://api.whatsapp.com/send?phone=1158966771" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          </a>
      </li> -->
    <!-- </ul> -->
  </div>
  <div class="row centered-text" style="width:100%;">
    &copy; 2022 By Juan Carlos Suárez | All rigths reserved
  </div>
<!-- </div> -->
