.redes {
  margin: 20px auto;
}

.redes li {
  display: inline;
  justify-content: center;
  margin-right: 25px;

}

.lg-font {
  font-size: 26px;
}

.centered-text {
  /* display: flex; */
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .mobile {
  display:none;
} */

/******************  MEDIA QUERIES **********************/
@media screen and (max-width:768px){
  .desktop {
    display:none;
  }

  .mobile {
    font-weight:bold;
    color:#212529;
  }
}

@media screen and (min-width:769px){
  /* .desktop {
    display:none;
  } */

  .mobile {
    display:none;
  }
}

